<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/3.3/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="view-source:https://getbootstrap.com/docs/3.3/examples/starter-template/" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>



    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>


<div id="app">
    <div class="container">

        <div class="starter-template">
            [[message]]
            <button-counter v-bind:products="products"></button-counter>
        </div>

    </div><!-- /.container -->

</div>

<script>

    Vue.component('button-counter', {
        delimiters: ['[[', ']]'],
        props: ['products'],
        data: function () {
            return {
                count: 0
            }
        },
        template:
            `
      <div>
          <table>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Status</th>
           </tr>
           <tr v-for="product in products" :key="product.id">
             <td>[[product.name]]</td>
             <td>[[product.price]]</td>
             <td>[[product.status]]</td>
             </tr>
         </table>
      </div>

      `

    })


    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            message: 'Hello Vue!',
            products: []
        },
        created() {
            axios.get('http://127.0.0.1:8000/Efrana/data/')
                .then(response => {
                    //console.log(response.data.product)
                    this.products = response.data.product
                })
        }

    })

</script>
</body>
</html>